@page "/core"
@rendermode InteractiveServer
@implements IDisposable

@inject ISnackbar SnackbarService

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Home</PageTitle>

    <MudPaper Class="pa-4" >

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ButtonOnClick">Show a RenderFragment snackbar</MudButton>
    @code {
        private void ButtonOnClick()
        {
            SnackbarService.Add
            (
                @<div class="mud-alert-message">Meltdown is imminent</div>,
                 Severity.Error
            );

            SnackbarService.Add
            (
                @<div class="mud-alert-message">Meltdown is imminent</div>,
                 Severity.Info
            );

            SnackbarService.Add
            (
                @<div class="mud-alert-message">Meltdown is imminent</div>,
                 Severity.Success
            );
        }
}



    <MudAlert Severity="Severity.Normal">The reactor type is RBMK-1000</MudAlert>
        <MudAlert Severity="Severity.Info">The reactor was fired up successfully</MudAlert>
        <MudAlert Severity="Severity.Success">The reactor is running at optimum temperature</MudAlert>
        <MudAlert Severity="Severity.Warning">The reactor temperature exceeds the optimal range</MudAlert>
        <MudAlert Severity="Severity.Error">Meltdown is imminent</MudAlert>
    </MudPaper>
<MudStack Row="true">
    <MudPaper Class="pa-4" MaxHeight="100%">
        @if (isLoading)
        {
            <MudProgressCircular Color="Color.Success" Indeterminate="isLoading" Size="Size.Small" />
            <MudText Typo="Typo.caption" Class="ml-2">Ожидание данных от веб сервера...</MudText>
        }
        <MudText Typo="Typo.h5" Align="Align.Center" Class="mt-16">Температура стержней реактора</MudText>
        <MudChart ChartType="ChartType.HeatMap" ChartSeries="@_seriesСoreTemp" ChartOptions="@_option"
                  ChartLabels="@_xlabels" Width="100%" Height="380px">
            <MudHeatMapCell Row="0" Column="0" MinValue="140" MaxValue="430" />
        </MudChart>
    </MudPaper>
    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h5" Align="Align.Center" Class="mt-16">Позиция стержней реактора</MudText>
        <MudChart ChartType="ChartType.HeatMap" ChartSeries="@_seriesPosBank" ChartOptions="@_option"
                  ChartLabels="@_xlabels" Width="100%" Height="380px">
            <MudHeatMapCell Row="0" Column="0" MinValue="0" MaxValue="100" />
        </MudChart>
    </MudPaper>
</MudStack>
<MudStack Row="true">
    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h5" Align="Align.Center" Class="mt-16">Прочность ядерного топлива</MudText>
        <MudChart ChartType="ChartType.HeatMap" ChartSeries="@_seriesFuelWear" ChartOptions="@_option"
                  ChartLabels="@_xlabels" Width="100%" Height="380px">
            <MudHeatMapCell Row="0" Column="0" MinValue="0" MaxValue="100" />
        </MudChart>
    </MudPaper>
    <MudPaper Class="pa-4">
        <MudText Typo="Typo.h5" Align="Align.Center" Class="mt-16">Эффективность выработки тепла</MudText>
        <MudChart ChartType="ChartType.HeatMap" ChartSeries="@_seriesGenerationHeatEfficiency" ChartOptions="@_option"
                  ChartLabels="@_xlabels" Width="100%" Height="380px">
            <MudHeatMapCell Row="0" Column="0" MinValue="0" MaxValue="100" />
        </MudChart>
    </MudPaper>
</MudStack>
<MudPaper>
    <MudStack Row="true" Justify="Justify.SpaceEvenly">
        <MudStack>
            <AnalogGauge Value="@AVGFissionable" MinValue="0" MaxValue="100" StartAngle="210" EndAngel="240" Format="F2" TextTypo="Typo.h5" PosTextY="10"></AnalogGauge>
            <MudText Align="Align.Center">Средняя прочность топлива</MudText>
        </MudStack>
        <MudStack AlignItems="AlignItems.Center">
            <AnalogGauge Value="@AVGPowerFactor" MinValue="0" MaxValue="100" StartAngle="210" EndAngel="240" Format="F2" TextTypo="Typo.h5" PosTextY="10"></AnalogGauge>
            <MudText Align="Align.Center">Средняя эффективность выработки тепла</MudText>
        </MudStack>
        <MudStack>
            <AnalogGauge Value="@AVGTemp" MinValue="0" MaxValue="700" StartAngle="210" EndAngel="240" Format="F2" TextTypo="Typo.h5" PosTextY="10"></AnalogGauge>
            <MudText Align="Align.Center">Средняя температура топлива</MudText>
        </MudStack>
    </MudStack>
</MudPaper>

@code {
    private bool isLoading = true;
    //private readonly string[] colors = ["#007AFF", "#5AC8FA", "#00F2A9", "#00C735", "#FFFF00", "#FFCC00", "#FF0000"];
    private readonly string[] colors = ["#007AFF", "#5AC8FA", "#00C735", "#FFCC00", "#FF0000"];
    private HeatMapChartOptions _option = new HeatMapChartOptions { };
    private string[] _xlabels = [];
    private List<ChartSeries<double>> _seriesСoreTemp = new List<ChartSeries<double>>();
    private List<ChartSeries<double>> _seriesPosBank = new List<ChartSeries<double>>();
    private List<ChartSeries<double>> _seriesFuelWear = new List<ChartSeries<double>>();
    private List<ChartSeries<double>> _seriesGenerationHeatEfficiency = new List<ChartSeries<double>>();

    private double AVGFissionable;
    private double AVGPowerFactor;
    private double AVGTemp;

    private CancellationTokenSource _cts = new();

    protected override void OnInitialized()
    {
        // Запускаем фоновую задачу без ожидания (fire-and-forget)
        _ = BackgroundLoop(_cts.Token);
        BuildOptions();
    }

    private void BuildOptions()
    {
        var options = new HeatMapChartOptions
        {
            ShowToolTips = true,
            ChartPalette = colors.Take(colors.Length).ToArray(),
        };
        _option = options;
    }
    private async Task BackgroundLoop(CancellationToken ct)
    {
        try
        {
            while (!ct.IsCancellationRequested)
            {

                HeatMapDataSet();
                AnalogGaugeDataSet();

                // Обязательно уведомляем UI об изменениях
                await InvokeAsync(StateHasChanged);

                // Задержка, чтобы не вешать поток
                await Task.Delay(1000, ct);
            }
        }
        catch (TaskCanceledException)
        {
            // Нормальное завершение при закрытии страницы
        }
    }

    // Остановка цикла при уничтожении компонента
    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }

    public void AnalogGaugeDataSet()
    {
        var data = new Dictionary<string, string>();
        data = NuclearesGETData.Programs.Second();
        AVGFissionable = Convert.ToDouble(data["CORE_FUEL_AVG_FISSIONABLE"]);
        AVGPowerFactor = Convert.ToDouble(data["CORE_FUEL_AVG_POWER_FACTOR"]);
        AVGTemp = Convert.ToDouble(data["CORE_FUEL_AVG_TEMPERATURE"]);
    }

    public void HeatMapDataSet()
    {
        var data = new Dictionary<string, string>();
        data = NuclearesGETData.Programs.Second();

        if (data.Count == 0)
        {
            isLoading = true;
            return;
        }

        isLoading = false;

        string[] rodBankPos = ["ROD_BANK_POS_0_ACTUAL", "ROD_BANK_POS_1_ACTUAL", "ROD_BANK_POS_2_ACTUAL", "ROD_BANK_POS_3_ACTUAL", "ROD_BANK_POS_4_ACTUAL", "ROD_BANK_POS_5_ACTUAL", "ROD_BANK_POS_6_ACTUAL", "ROD_BANK_POS_7_ACTUAL", "ROD_BANK_POS_8_ACTUAL"];
        string[] coreTemp = ["CORE_FUEL_1_TEMPERATURE","CORE_FUEL_2_TEMPERATURE","CORE_FUEL_3_TEMPERATURE","CORE_FUEL_4_TEMPERATURE","CORE_FUEL_5_TEMPERATURE","CORE_FUEL_6_TEMPERATURE","CORE_FUEL_7_TEMPERATURE","CORE_FUEL_8_TEMPERATURE","CORE_FUEL_9_TEMPERATURE"];
        string[] FuelWear = ["CORE_FUEL_1_FISSIONABLE", "CORE_FUEL_2_FISSIONABLE", "CORE_FUEL_3_FISSIONABLE", "CORE_FUEL_4_FISSIONABLE", "CORE_FUEL_5_FISSIONABLE", "CORE_FUEL_6_FISSIONABLE", "CORE_FUEL_7_FISSIONABLE", "CORE_FUEL_8_FISSIONABLE", "CORE_FUEL_9_FISSIONABLE"];
        string[] GenerationHeatEfficiency = ["CORE_FUEL_1_POWER_FACTOR", "CORE_FUEL_2_POWER_FACTOR", "CORE_FUEL_3_POWER_FACTOR", "CORE_FUEL_4_POWER_FACTOR", "CORE_FUEL_5_POWER_FACTOR", "CORE_FUEL_6_POWER_FACTOR", "CORE_FUEL_7_POWER_FACTOR", "CORE_FUEL_8_POWER_FACTOR", "CORE_FUEL_9_POWER_FACTOR"];
        //string[] xaxis2 = ["ROD 1", "ROD 2", "ROD 3", "ROD 4", "ROD 5", "ROD 6", "ROD 7", "ROD 8", "ROD 9"];
        string[] xAxis = [string.Empty, string.Empty, string.Empty];

        var heatMapSeriesCoreTemp = new List<ChartSeries<double>>();
        var heatMapSeriesPosBank = new List<ChartSeries<double>>();
        var heatMapSeriesFuelWear = new List<ChartSeries<double>>();
        var heatMapSeriesGenerationHeatEfficiency = new List<ChartSeries<double>>();

        var dataPoints = 3;
        var dataCoreTemp = new double[dataPoints];
        var dataBankPos = new double[dataPoints];
        var dataFuelWear = new double[dataPoints];
        var dataGenerationHeatEfficiency = new double[dataPoints];

        int[] indexPos =
        [8,1,2,
         7,0,3,
         6,5,4];
        int index, im = 0;

        foreach (var x in xAxis)
        {
            for (int i = 0; i < 3; i++)
            {
                index = indexPos[im];
                im++;

                if (data[rodBankPos[index]] != "null")
                {
                    dataBankPos[i] = Math.Round(Convert.ToDouble(data[rodBankPos[index]]), 2);
                }
                else
                {
                    dataBankPos[i] = 0f;
                }
                dataCoreTemp[i] = Math.Round(Convert.ToDouble(data[coreTemp[index]]), 2);
                dataFuelWear[i] = Math.Round(Convert.ToDouble(data[FuelWear[index]]), 2);
                dataGenerationHeatEfficiency[i] = Math.Round(Convert.ToDouble(data[GenerationHeatEfficiency[index]]), 2);
            }
            heatMapSeriesCoreTemp.Add(new ChartSeries<double> { Name = x, Data = dataCoreTemp });
            heatMapSeriesPosBank.Add(new ChartSeries<double> { Name = x, Data = dataBankPos });
            heatMapSeriesFuelWear.Add(new ChartSeries<double> { Name = x, Data = dataFuelWear });
            heatMapSeriesGenerationHeatEfficiency.Add(new ChartSeries<double> { Name = x, Data = dataGenerationHeatEfficiency });
        } //"Температура Стержней""Позиция стержней"
        _xlabels = xAxis;
        _seriesСoreTemp = heatMapSeriesCoreTemp;
        _seriesPosBank = heatMapSeriesPosBank;
        _seriesFuelWear = heatMapSeriesFuelWear;
        _seriesGenerationHeatEfficiency = heatMapSeriesGenerationHeatEfficiency;
        BuildOptions();
    }
    
}